
body {
    font-family: 'Roboto', sans-serif;
    background-color: #dcd6c9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.form-container {
    background-color: #f5f5f5;
    border-radius: 15px;
    padding: 20px;
    width: 90%;
    max-width: 450px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h2 {
    font-size: 26px;
    color: #333;
    margin-bottom: 10px;
}
p {
    color: #777;
    margin-bottom: 20px;
    font-size: 14px;
}
.form-group {
    margin-bottom: 7px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
label {
    font-weight: 500;
    margin-bottom: 5px;
    color: #333;
}
input[type="text"], input[type="email"], input[type="file"], textarea {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    background-color: #fff;
    margin-bottom: 10px;
    transition: border-color 0.3s;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="file"]:focus, textarea:focus {
    border-color: #333;
}
textarea {
    resize: none;
    min-height: 100px;
}
.submit-btn {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #e91e63;
    color: #fff;
    transition: background-color 0.3s;
}
.submit-btn:hover {
    background-color: #d81b60;
}
